@{
    Layout = "~/Areas/Admin/Views/Shared/Layout/_LayoutAdmin.cshtml";
}

@using TagosysWeb.Core.DTO.DtoOutput;
@model TagosysWeb.Core.DTO.DtoOutput.PostdescriptionOutput;

@{
    var postDescriptionId = ViewData["postDescriptionData"] as PostdescriptionOutput;
    int id = postDescriptionId != null ? postDescriptionId.Id : 0;
}


<section class="content container-fluid">
    <div class="card">
        <div class="card-header">
            @if (id != 0)
            {
                <h3 class="card-title">PostDescription Page-Update</h3>
            }
            else
            {
                <h3 class="card-title">Create New PostDescription</h3>
            }
        </div>
        <form class="card-body" method="post" action="~/Admin/PostDescription/AddUpdatePostDescription" onsubmit="return addUpdatePostDescription()" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@postDescriptionId?.Id">
            
            <div class="form-group row">
                <div class="col-sm-6">
                    <label for="name" class="col-form-label col-sm-2">PostId</label>
                    <div class="col-sm-10">
                        <select id="postId" name="PostId" style="width: 100%" required>
                            <option value="">Select Post</option>
                            @foreach (var postList in ViewData["post"] as List<PostOutput>)
                            {
                                <option value="@postList.Id" @(postDescriptionId?.PostId == postList.Id ? "selected" : "")>@postList.Tittle</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="tittle" class="col-form-label col-sm-2">Tittle</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="tittle" name="Tittle" placeholder="Tittle" value="@postDescriptionId?.Tittle">
                       @* <select id="pageId" name="PageId" style="width: 100%" required>
                            <option value="">Select Page</option>
                            @foreach (var pageList in ViewData["page"] as List<PageOutput>)
                            {
                            <option value="@pageList.Id" @(postDescriptionId?.PageId == pageList.Id ? "selected" : "")>@pageList.Tittle</option>
                            }
                        </select>*@
                    </div>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-sm-6">
                    <label for="name" class="col-form-label col-sm-2">Description</label>
                    <div class="col-sm-10">
                        <textarea id="description" name="Description" class="form-control" rows="2">@postDescriptionId?.Description</textarea>
                       @* <input type="text" class="form-control" id="tittle" name="Tittle" placeholder="Tittle" value="@postDescriptionId?.Tittle">*@
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="imagefiles" class="col-form-label col-sm-2">Image</label>
                    <div class="col-sm-10">
                        <input type="hidden" class="form-control" id="imagefiles" name="Image" placeholder="Image" value="@postDescriptionId?.Image">
                        @await Component.InvokeAsync("ImageUploadPopup")
                        <img id="blah" src="@postDescriptionId?.LocalImage" onerror="if (!this.errorHandled) { this.errorHandled = true; this.src = '@postDescriptionId?.LocalImage'; }" alt="your image" style="height:150px;" />

                    </div>
                </div>
            </div>

           


            <div class="card-footer">
                <button type="submit" class="btn btn-info float-left">Save</button>
            </div>
        </form>
    </div>
</section>
@await Component.InvokeAsync("Toaster")
<script>
    let oldImage = "@postDescriptionId?.Image";
</script>
